@import '_color';
.header{
	max-width: 990px;
	margin: auto;
	padding: 0px 24px;
	position: relative;
	z-index: 9999;
	.header__logo{
		width: 100px;
		height: 44px;
		padding-top: 10px;
	}
}

.main{
	background-color: #53cf92;
	height: calc(100vh - 44px);
	position: relative;
	.container{
		width: 100%;
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		.main__headline{
			text-align: center;
			font-size: 1.8rem;
		}
		.sg-card{
			max-width: 600px;
			height: auto;
			left: 50%;
			transform: translate(-50%);
			.sg-content-box__header{
				height: auto;
			.card__text{
				max-width: 600px;
					.card__question {
						height: 77px;
					}
					.card__answer{
						cursor: pointer;
						line-height: 2rem;
						font-size: 1.4rem;
					}
					
					.card__answer:hover{
						cursor: pointer;
					}
				}
			}	
		}
	}
}
